.page {
    background-color: rgb(219, 220, 213); 
    display: flex;            
    justify-content: center; 
    align-items: center;      
    height: 100vh;        
}

.logo {
    max-width: 80%;        
    height: auto;          
}