<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-input class="container" [(ngModel)]="mdl_correo" label="Correo Electronico"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="container" [(ngModel)]="mdl_contrasena" type="password" label="Contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="container" [(ngModel)]="mdl_carrera" label="Carrera"></ion-input>
    </ion-item>
  </ion-card>
  <ion-button class="boton" expand="block" (click)="cambiarContrasena()">Guardar datos</ion-button>
    
  <ion-toast
  [isOpen]="isToastOpen"
  [message]="mensaje"
  [duration]="2000"
  (didDismiss)="setOpen(false)">
  </ion-toast>

</ion-content>


